<%= render 'users/infonew', user: @user, book: @book %>

<div class="col-md-8 offset-md-1">
  <h2>Book detail</h2>
  <table class="table">
  <tbody><tr>
  <td>
    <%= link_to user_path(@user.id) do %>
      <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", size: "45x45"  %>
      <br/>
      <%= @user.name %>
    <% end %>
  </td>
  <td>
    <%= link_to book_path(@book0.id) do %>
      <%= @book0.title %>
    <% end %>
  </td>
  <td>
    <%= @book0.body %>
  </td>
  <% if user_signed_in? && current_user.id == @user.id %>
  <td>
    <%= link_to edit_book_path(@book0.id), class:"btn btn-sm btn-success" do %>
     Edit
    <% end %>
  </td>
  <td>
    <%= link_to book_path(@book0.id), class:"btn btn-sm btn-danger", method: :delete, "data-confirm" => "本当に削除しますか？" do %>
     Destroy
    <% end %>
  </td>
  <% end %>
  </tr>
  </tbody>
  </table>
</div>
  </div>
</div>